@font-face {
  font-family: "ChirpHeavy";
  src: url("../../assets/ChirpHeavy.ttf");
}
@font-face {
  font-family: "ChirpRegular";
  src: url("../../assets/ChirpRegular.ttf");
}
@font-face {
  font-family: "ChirpBold";
  src: url("../../assets/ChirpBold.ttf");
}

.loginContenedorPrincipal {
  display: grid;
  padding: 0 10%;
  justify-items: center;
}
.loginContenedor2 {
  margin-top: 3%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap: 7%;
}

@media (max-width: 690px) {
  .loginContenedor2 {
    grid-template-columns: auto;
    margin: 0 auto;
    padding: 10%;
  }
}

.logeo {
  max-width: 728px;

  display: grid;
  justify-items: start;
}
@media (max-width: 690px) {
  .logeo {
    display: grid;
  }
}
.x {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 690px) {
  .x {
    max-width: 17rem;
  }
}
.tamañox {
  max-height: 36rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 690px) {
  .tamañox {
    max-height: 17.1rem;
    width: 100vw;
    justify-content: left;
  }
}
.contenedorTitulos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contenedorTitulo{
margin-bottom: 5%;
}
.titulo {
  line-height: 1em;
  font-family: "ChirpHeavy";
  font-size: 82px;
  font-weight: 600;
  align-content: center;
  text-align: left;
  letter-spacing: 5.2px;
  margin-bottom: 0;

}
.subtitulo {
  font-family: "ChirpHeavy";
  width: 300px;
  text-align: left;
  margin-bottom: 3%;

  letter-spacing: 5.2px;

  font-size: 310%;
}
.botonAutenticacion {
  border: 1px solid;
  border-color: rgb(207, 217, 222);
  font-size: 140%;
  font-family: "ChirpRegular";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50px;
  height: 38px;
  max-width: 300px;
  min-width: 240px;
  gap: 10px;
}
.crearCuenta {
  font-family: "ChirpBold";

  background-color: rgb(29, 155, 240);
  color: rgb(255, 255, 255);
}
.h4Login {
  font-family: "ChirpBold";
  color: rgb(15, 20, 25);
  font-size: 1.7rem;
}
.yaTienesCuenta {
  display: flex;
  margin-top: 3rem;
  max-height: 176px;
  justify-items: start;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
  min-width: 300px
}

.yaTienesCuenta__boton {
  font-family: "ChirpBold";
  border: 1px solid;
  font-size: 1.5rem;
  border-color: rgb(207, 217, 222);
  color: rgb(29, 155, 240);
}
.or {
  font-family: "ChirpRegular";

  text-align: center;
  width: 300px;
  margin: 0 20% 0 0;
}
.terminosycondiciones {
  max-width: 300px;
  text-overflow: unset;
  font-family: "ChirpRegular";
  font-size: 11px;
  margin: 0 20% 0 0;
  padding: 0;
  text-align: justify;
}

.terminosycondiciones > a {
  text-decoration: none;
  color: rgb(29, 155, 240);
}
.nav {
  margin-top: 7%;
}
.navLogin {
  display: flex;
  gap: 10px;
  flex-flow: wrap;
  justify-content: space-around;
  line-height: 1;
  align-items: baseline;
  height: 22%;
}
.navA {
  width: max-content;
  text-decoration: none;
  font-size: 1.3rem;
  color: rgb(83, 100, 113);
  font-family: "ChirpRegular";
  text-wrap: nowrap;
}
