@font-face {
  font-family: "ChirpHeavy";
  src: url("../../assets/ChirpHeavy.ttf");
}
@font-face {
  font-family: "ChirpRegular";
  src: url("../../assets/ChirpRegular.ttf");
}
@font-face {
  font-family: "ChirpBold";
  src: url("../../assets/ChirpBold.ttf");
}

.botonAutenticacion {
  border: 1px solid;
  border-color: rgb(207, 217, 222);
  font-size: 140%;
  font-family: "ChirpRegular";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50px;
  height: 38px;
  max-width: 300px;
  min-width: 240px;
  gap: 10px;
}
.crearCuenta {
  font-family: "ChirpBold";

  background-color: rgb(29, 155, 240);
  color: rgb(255, 255, 255);
}



.yaTienesCuenta__boton {
  font-family: "ChirpBold";
  border: 1px solid;
  font-size: 1.5rem;
  border-color: rgb(207, 217, 222);
  color: rgb(29, 155, 240);
}
.or {
  font-family: "ChirpRegular";

  text-align: center;
  width: 300px;
  margin: 0 20% 0 0;
}
.terminosycondiciones {
  max-width: 300px;
  text-overflow: unset;
  font-family: "ChirpRegular";
  font-size: 11px;
  margin: 0 20% 0 0;
  padding: 0;
  text-align: justify;
}

.terminosycondiciones > a {
  text-decoration: none;
  color: rgb(29, 155, 240);
}
.nav {
  margin-top: 7%;
}
.navLogin {
  display: flex;
  gap: 10px;
  flex-flow: wrap;
  justify-content: space-around;
  line-height: 1;
  align-items: baseline;
  height: 22%;
}
.navA {
  width: max-content;
  text-decoration: none;
  font-size: 1.3rem;
  color: rgb(83, 100, 113);
  font-family: "ChirpRegular";
  text-wrap: nowrap;
}
